# 3.Business Problem

Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions.
East West North South
Males	50	142	131	70
Females	550	351	480	350

# Business Objective


Determine if there is a significant difference in the proportion of male and female buyers across regions.
Help the company optimize marketing campaigns based on gender-based purchasing trends.
Ensure effective resource allocation for region-specific promotions.

# Constraints 

1. Data Accuracy – The analysis depends on correctly collected sales data.
2. Statistical Assumptions – Requires categorical data analysis (Chi-Square test) and sufficient sample size.
3. External Factors – Social, economic, and cultural influences may affect purchasing behavior but are not accounted for in the dataset.
4. Significance Level (5%) – There’s a small chance of incorrect conclusions.

In [1]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
#provides statistical functions
#stats contains a variety of statstical tests
from statsmodels.stats import descriptivestats as sd
#provides descriptive stastics tools, including the sign test
from statsmodels.stats.weightstats import ztest
#Used for conducting z-tests on datasets.
import pylab

In [4]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [7]:
data.isnull().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [10]:
observed=np.array([[50,142,131,70],
                 [435,1523,1356,750]]
                 )

In [11]:
# Perform Chi-Square Test
chi2_stat, p_value, dof, expected = stats.chi2_contingency(observed)

In [12]:
# Print results
print(f"Chi-Square Statistic: {chi2_stat}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print("Expected Frequencies Table:")
print(expected)

Chi-Square Statistic: 1.595945538661058
P-value: 0.6603094907091882
Degrees of Freedom: 3
Expected Frequencies Table:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

# Interpretation: 
#H0: no significant difference in the male-to-female buyer ratio across different regions.
#H1: significant difference in the male-to-female buyer ratio across different regions.

p-value>0.05  ==> fails to reject the H0(Accept the H0)

conclusion: 

There is no significant difference in the male-to-female buyer ratio across different regions.